h1 {
    display:flex;
    justify-content: center;
}

body {
    display: flex;
    width:100%;
    margin: 20;
    background-color: color(srgb rgb(226, 226, 226) green blue);
}

.card-body {
    width: 100%;
    color: color(srgb rgb(226,226,226)green blue);
    
}

.card {
    display:flex;
    flex-direction: column;
    align-items:center;
}

.card-title {
        display:flex;
        flex-direction: column;
        align-items:center;
    }

.card-subtitle {
    display:flex;
    flex-direction: column;
    align-items:center;
    text-align: left;
}

.card-text {
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: flex-start;
}

.card-link {
    display:flex;
    flex-direction: column;
    align-items:center;
    text-align:left;
    
}